# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js build output
.next/
out/
build/
dist/

# Environment files
.env
.env*.local

# Logs
*.log
pnpm-debug.log*

# Misc
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel/
